<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NutriLogic | Login</title>
    {{ url_for('static', filename='styles.css') }}
</head>
<body>

<div class="container">

    <h1>NutriLogic</h1>
    <h2>Login to continue</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% set category, message = messages[-1] %}
        <p class="{{ category }}">{{ message }}</p>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p style="margin-top: 20px;">
        Need an account?
        {{ url_for('register') }}Register</a>
    </p>

</div>

</body>
</html>
